---
import { Icon } from "astro-icon/components";
import { resolveEvent } from "@/data";
import Link from "@/components/Common/Link.astro";
import { Image } from "astro:assets";
import { formatDate, formatTime } from "@/utils/formatDate";
import EventCity from "./EventCity.astro";

interface Props {
  eventSlug?: string;
  class?: string;
}

const event = await resolveEvent(Astro);
const { class: className } = Astro.props;

const formattedDate = formatDate(event.data.dateTime, "short-no-year");
const formattedTime = formatTime(event.data.dateTime);
---

<Link
  href={`/event/${event.id}`}
  class={`card card-border bg-base-100 hover-zoom ${className ?? ""}`}
>
  <figure class="aspect-video w-full bg-base-300">
    <Image
      src={event.data.cover}
      alt={event.data.title}
      class="w-full h-full object-cover"
      width={512}
      height={512}
    />
  </figure>
  <div class="card-body p-4 gap-4 flex flex-col">
    <h3 class="card-title text-lg">{event.data.title}</h3>
    <div class="flex flex-col gap-1 text-sm">
      <div class="flex gap-2 items-center">
        <Icon name="lucide:calendar" size={16} />
        <span>{formattedDate} • {formattedTime}</span>
      </div>
      {
        event.venue && (
          <div class="flex gap-2 items-center text-base-content/70">
            <Icon name="lucide:map-pin" size={16} />
            <span>{event.venue.title}</span>
            {event.venue.city && <EventCity city={event.venue.city} class="ml-auto" />}
          </div>
        )
      }
    </div>
  </div>
</Link>
