---
import { Icon } from "astro-icon/components";
import { type Event } from "../data";
import Link from "./Link.astro";
import { Image } from "astro:assets";
import { formatDate } from "../utils/formatDate";

interface Props {
  event: Event;
  class?: string;
}

const { event, class: className } = Astro.props;

const dateObj = new Date(event.dateTime);
const formattedDate = formatDate(dateObj, {
  month: "short",
  day: "numeric",
});
const formattedTime = dateObj.toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "2-digit",
});
---

<Link
  href={`/event/${event.id}`}
  class={`card card-border bg-base-100 hover-zoom ${className ?? ""}`}
>
  <figure class="aspect-video w-full bg-base-300">
    <Image
      src={event.cover}
      alt={event.title}
      class="w-full h-full object-cover"
      width={512}
      height={512}
    />
  </figure>
  <div class="card-body p-4 gap-4 flex flex-col">
    <h3 class="card-title text-lg">{event.title}</h3>
    <div class="flex flex-col gap-1 text-sm">
      <div class="flex gap-2 items-center">
        <Icon name="lucide:calendar" size={16} />
        <span>{formattedDate} • {formattedTime}</span>
      </div>
    </div>
  </div>
</Link>
