---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Link from "./Link.astro";

interface Props {
  url: string;
  image?: ImageMetadata;
  title: string;
  subtitle?: string;
  direction: "prev" | "next";
}

const { url, image, title, subtitle, direction } = Astro.props;

const isNext = direction === "next";
---

<Link
  href={url}
  class={`btn btn-soft h-16 items-center py-0 px-2 ${isNext ? "flex-row-reverse ml-auto" : ""}`}
>
  <Icon name={`lucide:chevron-${isNext ? "right" : "left"}`} size={20} class="mx-4" />

  {
    image && (
      <figure class="aspect-video h-full flex-shrink-0 overflow-hidden rounded bg-base-300">
        <Image src={image} alt={title} width={80} height={80} class="w-full h-full object-cover" />
      </figure>
    )
  }

  <div class={`flex flex-col px-4 text-${isNext ? "right" : "left"} `}>
    <span class="text-base font-semibold truncate">{title}</span>
    {subtitle && <span class="text-sm opacity-70">{subtitle}</span>}
  </div>
</Link>
