---
import { Icon } from "astro-icon/components";
import { MENU, SITE } from "../config";
import Container from "./Container.astro";
import Link from "./Link.astro";

const items = MENU.filter((item) => item.header !== false);
---

<div class="navbar fixed top-0 z-50 backdrop-blur-md bg-base-100/70 border-b border-base-300/20 shadow-sm">
  <Container class="flex justify-between">
    <div class="navbar-start">
      <Link href="/" class="btn btn-ghost normal-case text-xl">{SITE.shortName}</Link>
    </div>
    <div class="navbar-end">
      <div class="hidden md:flex">
        <ul class="menu menu-horizontal px-1">
          {
            items.map((item) => (
              <li>
                <Link href={item.href}>
                  {item.icon && <Icon name={item.icon} />}
                  {item.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="dropdown dropdown-end md:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <Icon name="lucide:menu" size={24} />
        </label>
        <ul
          tabindex="0"
          class="menu menu-lg dropdown-content mt-3 z-[1] p-2 shadow backdrop-blur-md bg-base-100/90 border border-base-300/20 rounded-box w-52"
        >
          {
            items.map((item) => (
              <li>
                <Link href={item.href}>
                  {item.icon && <Icon name={item.icon} class="mr-1" />}
                  {item.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</div>
